<!DOCTYPE html>
<html layout:decorator="layout">

<div layout:fragment="content">

	 <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
         <div id="test1" class="container">
	        <form id="test2" class="form-signin" th:action="@{/person/login}" th:object="${person}" method="post">
	        
	        	<h2 class="form-signin-heading">Please sign in</h2>
	            <label for="inputEmail" class="sr-only"> User Name : </label>
	            <input id="username" class="form-control" type="text" name="username" placeholder="Username" th:field="*{username}" th:value="${username}"/> 
	            <label for="inputPassword" class="sr-only"> Password: </label>
	            <input type="password" name="password" id="password" class="form-control" placeholder="Password" th:field="*{password}" th:value="${password}"/>
	            <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me"/> Remember me
		          </label>
		        </div>
		        <!-- <div><input type="hidden" th:value="${username}"/></div> -->
	            <div><input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In"/></div>
	            
	        </form>
        </div> <!-- /container -->

</div>
</html>