<!DOCTYPE html>
<html layout:decorator="layout">

<div layout:fragment="content">

        <div class="container col-md-10 col-md-offset-4">
		  <div class="row">
		  	<div class="col-md-6">
		    
		          <form id="register-person-form" class="form-register" th:action="@{/person/register}" th:object="${person}" method="post">
		          <fieldset>
		            <div id="legend">
		              <legend>Register</legend>
		            </div>
		            
		            <div class="control-group">
		              <label class="control-label" for="firstname">First Name</label>
		              <div class="controls">
		                <input id="firstname" name="firstname" placeholder="First name can contain only letters, without spaces!" class="form-control input-lg" type="text" th:field="*{personFirstName}" th:value="${personFirstName}"/>
		              </div>
		            </div>
		            
		            <div class="control-group">
		              <label class="control-label" for="surname">Surname</label>
		              <div class="controls">
		                <input id="surname" name="surname" placeholder="Surname can contain only letters, without spaces!" class="form-control input-lg" type="text" th:field="*{lastName}" th:value="${lastName}"/>
		              </div>
		            </div>
		            
		            <div class="control-group">
		              <label class="control-label" for="username">Username</label>
		              <div class="controls">
		                <input id="username" name="username" placeholder="Username can contain any letters or numbers, without spaces!" class="form-control input-lg" type="text" th:field="*{username}" th:value="${username}"/>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <label class="control-label" for="password">Password</label>
		              <div class="controls">
		                <input id="password" name="password" placeholder="Password should be at least 6 characters" class="form-control input-lg" type="password" th:field="*{password}" th:value="${password}"/>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <label class="control-label" for="password_confirm">Password (Confirm)</label>
		              <div class="controls">
		                <input id="password_confirm" name="password_confirm" placeholder="Please confirm password" class="form-control input-lg" type="password"/>
		              </div>
		            </div>
		         
		            <div class="control-group">
		              <!-- Button -->
		              <div class="controls">
		                <button class="btn btn-success" href="/person/login">Register</button>
		              </div>
		            </div>
		          </fieldset>
		        </form>
		    
		    </div> 
		  </div>
		</div>
        
    </div>
</html>